.other-card-container {
	max-width: 60vw;
	background-color: #d7d8da;
	display: flex;
	color: black;
	margin: 10px;
	margin-top: 15px;
	border-radius: 15px 15px 15px 0px;
}

.other-card-container p {
	font-size: larger;
	max-width: 25vw;
	word-wrap: break-word;
}
